<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = lang.photos.title_camera %>
    <title><%= title %></title>
    <link href='bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/style.css'>
    <script src='camera.js'></script>
    <style>
      .countdown_wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
        flex-direction: column;
      }
      .countdown_wrapper h1 {
        font-size: 2000%;
      }
    </style>
  </head>
  <%- include('_header', { url: './', text: lang.home_button }) %>

    <div class='card text-bg-dark video-wrapper camera'>
      <video id='video' class='card-img'><%= lang.photos.no_video %></video>
      <div class='card-img-overlay countdown_wrapper'>
        <h1 class='card-title' id='countdown'></h1>
      </div>
    </div>

    <div class='row my-5 mx-2 gap-2'>
      <div class='col-sm-6 gap-2 mx-auto'>

        <div class='row'>
          <label class='form-label' for='project_id'><%= lang.photos.select_project %>:</label>
          <select class='form-select mb-4' id='project_id' name='project_id'>
            <option value='-1'><%= lang.photos.gallery %></option>
            <% if (typeof projects != 'undefined') { -%>
              <% projects.forEach((project) => { -%>
                <option value='<%= project.$loki %>'><%= project.name %></option>
            <% });} -%>
          </select>
        </div>
        <div class='row mb-3'>
          <div class='d-grid col-10 gap-2 mx-auto'>
            <button id='take-photo' class='btn btn-primary btn-lg btn-mod'><%= lang.photos.take_photo %></button>
          </div>
        </div>

      </div>
      <div class='col-sm-5'>
        <a href=''>
          <img id='thumbnail' class='img-fluid' src='placeholder_image.jpg'/>
        </a>
      </div>
    </div>

    <div class='row mb-3'>
      <div class='d-grid col-sm-5 gap-2 mx-auto'>
        <a class='btn btn-primary btn-lg btn-mod' href='./photos'><%= lang.photos.gallery %></a>
      </div>
    </div>

  <%- include('_footer') %>
  </body>
</html>
