<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = lang.photos.title_camera %>
    <title><%= title %></title>
    <link href='bootstrap.min.css' rel='stylesheet'>
    <script src='camera.js'></script>
    <style>
      .container-cam {
        max-width: 800px;
      }
      .btn-mod {
        --bs-btn-padding-y: 1rem;
      }
      .countdown_wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
        flex-direction: column;
      }
      .countdown_wrapper h1 {
        font-size: 2000%;
      }
    </style>
  </head>
  <body class='d-flex flex-column h-100'>

    <main class='flex-shrink-0'>
      <%- include('home_button', { url: './', text: lang.home_button }) %>

      <div class='d-grid gap-2 col-7 mx-auto'>
      </div>

      <div id='capture' class='container container-cam'>
        <div class='camera'>

          <div class='card text-bg-dark video-wrapper'>
          <video id='video' class='card-img'><%= lang.photos.no_video %></video>
          <div class='card-img-overlay countdown_wrapper'>
            <h1 class='card-title' id='countdown'></h1>
          </div>

        </div>
        </div>
        <div class='row m-5'>
          <div class='col-7 gap-2 mx-auto'>
            <div class='d-grid col-10 gap-2 mx-auto'>

              <label class='form-label' for='project_id'><%= lang.photos.select_project %>:</label>
              <select class='form-select mb-4' id='project_id' name='project_id'>
                <option value='-1'><%= lang.photos.gallery %></option>
                <% if (typeof projects != 'undefined') { -%>
                  <% projects.forEach((project) => { -%>
                    <option value='<%= project.$loki %>'><%= project.name %></option>
                <% });} -%>
              </select>

              <button
              id='take-photo'
              class='btn btn-primary btn-lg btn-mod'
              ><%= lang.photos.take_photo %></button>

            </div>
          </div>
        </form>
          <div class='col-5'>
            <a href=''>
              <img id='thumbnail' class='img-fluid' src='placeholder_image.jpg'/>
            </a>
          </div>
        </div>
      </div>

    </main>
  </body>
</html>
