<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = lang.home_title %>
    <title><%= title %></title>
    <link href='bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/style.css'>
    <style>
      .btn-mod  {
        --bs-btn-padding-y: 3rem;
      }
    </style>
  </head>
  <body class='d-flex flex-column h-100'>
    <main class='flex-shrink-0'>

      <div class='container'>
        <h1 class='mt-5'></h1>
        <p class='lead'></p>
        <p></p>
        <div class='d-grid gap-2 row-gap-100 col-8 mx-auto'>
          <a
          class='btn btn-primary btn-lg m-3 btn-mod'
          href='users/create'
          type='button'><%= lang.home.register_user %></a>
          <a
          class='btn btn-primary btn-lg m-3 btn-mod'
          href='projects/create'
          type='button'><%= lang.home.register_project %></a>
          <a
          class='btn btn-info btn-lg m-3 btn-mod'
          href='projects'
          type='button'><%= lang.home.project_list %></a>
          <a
          class='btn btn-secondary btn-lg m-3 btn-mod'
          href='camera'
          type='button'><%= lang.home.camera %></a>
        </div>
      </div>
    </main>
    <footer class='footer mt-auto py-3 bg-body-tertiary'>
      <div class='container'>
        <img src='logo.png' width='500px' class='rounded my-4 mx-auto d-block'>
      </div>
    </footer>
  </body>
</html>