<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = lang.photos.gallery %>
    <title><%= title %></title>
    <link href='bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/style.css'>
    <script type="text/javascript" src="bootstrap.min.js"></script>
  </head>
  <%- include('_header', { url: './', text: lang.home_button }) %>

    <h1 class='mb-4 text-center'><%= lang.photos.gallery %></h1>

    <% if(media) { -%>
      <%  media.forEach(file => { %>
      <% let url = './media/' + media_dir + '/' + file %>
        <a href='../photo/?project_id=-1&file=<%= file %>'><img class="img-fluid my-2 mx-auto" src='<%= url %>'></a>
      <% }); %>
    <% } else { -%>
      <em><%= lang.errors.no_media %></em>
    <% } -%>

  <%- include('_footer') %>
  </body>
</html>