<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = lang.photos.title_view %>
    <title><%= title %></title>
    <link href='bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <%- include('_header', { url: './', text: lang.home_button }) %>

    <a class='link-offset-3 link-underline link-underline-opacity-0 link-underline-opacity-100-hover'
    href='./project?id=<%= project_id %>'><h1 class='mb-4 text-center'><%= project_name %></h1></a>
    <% if (typeof msg != 'undefined') { -%>
      <div class='alert alert-warning' role='alert'>
        <%= msg %>
      </div>
    <% } -%>


    <div class='photo'>
        <% let url = typeof file != 'undefined' ? './media/' + media_dir + '/' + file : 'placeholder_image.jpg' %>
        <img id='photo' class='img-fluid mx-auto' src='<%= url %>' />
    </div>

    <form method='post' action='photo/move' id='select-project-form'>
      <div class='row my-3 align-items-center'>
        <div class='col-sm-3 gap-2 mx-auto'>
          <label class='form-label' for='new_project_id'><%= lang.photos.select_project %>:</label>
        </div>
        <div class='col-sm-5 gap-2 mx-auto'>
          <select class='form-select' id='project_list' name='new_project_id'>
            <option value='-1' <%= Number(project_id) < 0 ? "selected='selected'"  : '' %>><%= lang.photos.gallery %></option>
            <% if (typeof projects != 'undefined') { -%>
              <% projects.forEach((project) => { -%>
                <option value='<%= project.$loki %>' <%= String(project.$loki) === project_id ? "selected='selected'" : '' %>><%= project.name %></option>
            <% });} -%>
          </select>
        </div>
        <div class='col-sm-2 gap-2 my-3 mx-auto'>
          <input type='hidden' id='project_id' name='project_id' value='<%= project_id %>' />
          <input type='hidden' id='file' name='file' value='<%= file %>' />
          <input type='submit' id='select-project' class='btn btn-primary btn-lg' value='<%= lang.photos.select_project_btn %>'/>
        </div>
      </div>
    </form>

    <form method='post' action='photo/email' id='email-form'>
      <div class='row my-3 align-items-center'>
        <div class='col-sm-9 gap-2 mx-auto'>
          <input type='email' class='form-control' id='email' name='email' placeholder='<%= lang.photos.email_address %>'>
        </div>
        <div class='col-sm-2 gap-2 my-3 mx-auto'>
          <input type='hidden' id='project_id' name='project_id' value='<%= project_id %>' />
          <input type='hidden' id='file' name='file' value='<%= file %>' />
          <input type='submit' id='send-photo' class='btn btn-primary btn-lg' value='<%= lang.photos.send_email %>'/>
        </div>
      </div>
    </form>

    <div class='row mb-3'>
      <div class='d-grid col-sm-5 gap-2 mx-auto'>
        <a id='to-camera' class='btn btn-primary btn-lg btn-mod' href='../camera'><%= lang.photos.to_camera %></a>
      </div>
    </div>

  <%- include('_footer') %>
  </body>
</html>
