<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = new_project === 'true' ? lang.home.register_project : lang.home.edit_project %>
    <title><%= title %></title>
    <link rel='stylesheet' href='../style.css' />
    <link rel='stylesheet' href='../bootstrap.min.css'>
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.7.0.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.css'/>
    <script type='text/javascript' src='../datepicker.js'></script>
  </head>
  <body class='d-flex flex-column h-100'>
    <main class='flex-shrink-0'>
      <div class='container'>
        <%- include('home_button', { url: '../', text: lang.home_button }) %>

        <div class='d-grid gap-2 row-gap-100 col-6 mx-auto mb-5'>
          <h1 class='mb-5'><%= title %></h1>

          <% if (typeof errors != 'undefined') { -%>
            <% errors.forEach((error) => { -%>
            <div class='alert alert-danger' role='alert'>
              <%= error.msg %>
            </div>
          <% });} -%>

          <form method='post' action='' id='project-form'>

            <div class='mb-3'>
              <label class='form-label' for='name'><%= lang.projects.name %>:</label>
              <input required class='form-control' type='text' id='name' name='name'value='<%= locals.body ? body.name : '' %>' />
            </div>
            <div class='mb-3'>
              <label class='form-label' for='team'><%= lang.projects.team %>:</label>
              <div class='row'>
                <div class='col-8 gap-2'>
                  <div class='list-group mb-3' id='team-list'></div>
                </div>
              </div>
              <div class='row'>
                <div class='col-8 gap-2'>
                  <select class='form-select' id='users' name='users'>
                    <% if (typeof users != 'undefined') { -%>
                      <% users.forEach((user) => { -%>
                        <option value='<%= user.name %>'><%= user.name %></option>
                    <% });} -%>
                  </select>
                </div>
                <div class='col-4 gap-2'>
                  <button type="button" class="btn btn-primary" id='add-member'><%= lang.projects.add_member %></button>
                </div>
              </div>

            </div>
            <div class='mb-3'>
              <label class='form-label' for='date'><%= lang.projects.date_start %>:</label>
              <div class='input-group date'>
                <div class='input-group-addon'>
                  <input type='text' class='form-control' id='date' name='date_start'>
                  <span class='glyphicon glyphicon-th'></span>
                </div>
              </div>
            </div>
            <div class='mb-3'>
              <label class='form-label' for='description'><%= lang.projects.description %>:</label>
              <textarea  required class='form-control' rows='3' id='description' name='description'><%= locals.body ? body.description : '' %></textarea>
            </div>
            <div class='mb-3'>
              <label class='form-label' for='tools'><%= lang.projects.tools %>:</label>
              <div class='form-check'>
                <% Object.keys(lang.projects.tool_list).forEach( id => { -%>
                  <div class='form-check'>
                    <input class='form-check-input' name='tools' type='checkbox' value=<%= id %> id=<%= id %> >
                    <label class='form-check-label' for=<%= id %>><%= lang.projects.tool_list[id] %></label>
                  </div>
                <% }); -%>
                <% if ( locals.body ) {  -%>
                  <script>
                    let tools = '<%= body.tools %>'.split(',')
                    tools.forEach( (tool) => {
                      document.getElementById(tool).checked = true;
                    });
                  </script>
                <% } -%>
                <label class='form-check-label' for='tools_other'><%= lang.projects.tools_other %>: </label>
                <input class='form-control' type='text' id='tools_other' name='tools_other'value='<%= locals.body ? body.tools_other : '' %>' />
              </div>
            </div>
            <div class='mb-3'>
              <label class='form-label' for='materials'><%= lang.projects.materials %></label>
              <div class='form-check'>
                <% Object.keys(lang.projects.material_list).forEach( id => { -%>
                  <div class='form-check'>
                    <input class='form-check-input' name='materials' type='checkbox' value=<%= id %> id=<%= id %> >
                    <label class='form-check-label' for=<%= id %>><%= lang.projects.material_list[id] %></label>
                  </div>
                <% }); -%>
                <% if ( locals.body ) {  -%>
                  <script>
                    let materials = '<%= body.materials %>'.split(',')
                    materials.forEach( (material) => {
                      document.getElementById(material).checked = true;
                    });
                  </script>
                <% } -%>
                <label class='form-check-label' for='materials_other'>Other: </label>
                <input class='form-control' type='text' id='materials_other' name='materials_other'value='<%= locals.body ? body.materials_other : '' %>' />
              </div>
            </div>

            <input type='hidden' id='new_project' name='new_project' value='<%= new_project === 'true' ? 'true' : 'false' %>' />
            <input type='submit' class='btn btn-primary mt-3' value='<%= lang.submit %>' />

          </form>
        </div>
      </div>
    </main>
  </body>
  <script type='text/javascript'>

    let team = [];
    <% if ( locals.body ) {  -%>
      let members = '<%= body.team %>'.split(',')
      members.forEach( (member) => {
        addMember(member);
      });
    <% } -%>

    let add_member = document.getElementById('add-member');
    let remove_members;

    add_member.addEventListener(
      'click',
      (ev) => {
        let member = document.getElementById('users').options[users.selectedIndex].text;
        if (team.find(el => el === member) == undefined) {
          addMember(member);
          updateTeam();
        }
      },
      false
    );

    function addMember(member) {
      team.push(member);
      let team_member = document.createElement('input');
      team_member.type = 'hidden';
      team_member.name = 'team';
      team_member.value = member;
      document.getElementById('project-form').appendChild(team_member);
    }

    function updateTeam() {
      let list = '';
      if(team.length > 0) {
        team.forEach((member, index) => {
          list += "<div class='list-group-item list-group-item-action py-2 pe-2 my-0'>";
          list += "<div class='d-flex w-100 justify-content-between'>"
          list += member;
          list += "<button type='button' class='btn btn-danger py-0 px-2 remove-member'>&#10799</button>";
          list += "</div></div>";
        });
      } else {
        list += "<p><em>" + "<%= lang.errors.empty_team %>" + "</em></p>"
      }
      document.getElementById('team-list').innerHTML = list;
      remove_members = document.getElementsByClassName('remove-member');
      Array.from(remove_members).forEach(function(el, index) {
        el.addEventListener('click', () => {
          team.splice(index, 1);
          let members = document.getElementsByName('team');
          members[index].remove();
          updateTeam();
        });
      });
    }

    window.onload = (event) => {
      updateTeam();
    }

  </script>
  </html>