<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = new_project === 'true' ? lang.home.register_project : lang.home.edit_project %>
    <title><%= title %></title>
    <link rel='stylesheet' href='../style.css' />
    <link rel='stylesheet' href='../bootstrap.min.css'>
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.7.0.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.css'/>
    <script type='text/javascript' src='../datepicker.js'></script>
  </head>
  <body class='d-flex flex-column h-100'>
    <main class='flex-shrink-0'>
      <div class='container'>
        <%- include('home_button', { url: '../', text: lang.home_button }) %>

        <div class='d-grid gap-2 row-gap-100 col-6 mx-auto mb-5'>
          <h1 class='mb-5'><%= title %></h1>

          <% if (typeof errors != 'undefined') { -%>
            <% errors.forEach((error) => { -%>
            <div class='alert alert-danger' role='alert'>
              <%= error.msg %>
            </div>
          <% });} -%>

          <form method='post' action='' id='project-form'>

            <div class='mb-3'>
              <label class='form-label' for='name'><%= lang.projects.name %>:</label>
              <input required class='form-control' type='text' id='name' name='name'value='<%= locals.body ? body.name : '' %>' />
            </div>
            <div class='mb-3'>
              <label class='form-label' for='team'><%= lang.projects.team %>:</label>
              <div class='row'>
                <div class='col-8 gap-2'>
                  <div class='list-group mb-3' id='team-list'></div>
                </div>
              </div>
              <div class='row'>
                <div class='col-8 gap-2'>
                  <select class='form-select' id='users' name='users'>
                    <% if (typeof users != 'undefined') { -%>
                      <% users.forEach((user) => { -%>
                        <option value='<%= user.name %>'><%= user.name %></option>
                    <% });} -%>
                  </select>
                </div>
                <div class='col-4 gap-2'>
                  <button type="button" class="btn btn-primary" id='add-member'><%= lang.projects.add_member %></button>
                </div>
              </div>

            </div>
            <div class='mb-3'>
              <label class='form-label' for='date_start'><%= lang.projects.date_start %>:</label>
              <div class='input-group date'>
                <div class='input-group-addon'>
                  <input required type='text' class='form-control' id='date' name='date_start'>
                  <span class='glyphicon glyphicon-th'></span>
                </div>
              </div>
            </div>
            <div class='mb-3'>
              <label class='form-label' for='description'><%= lang.projects.description %>:</label>
              <textarea required class='form-control' rows='3' id='description' name='description'><%= locals.body ? body.description : '' %></textarea>
            </div>
            <div class='mb-3'>
              <label class='form-label' for='tool_checkboxes'><%= lang.projects.tools %>:</label>
              <div class='form-check'>
                <% Object.keys(lang.projects.tool_list).forEach( id => { -%>
                  <div class='form-check'>
                    <input class='form-check-input' name='tool_checkboxes' type='checkbox' value='<%= id %>' id='<%= id %>_checkbox' >
                    <label class='form-check-label' for=<%= id %>><%= lang.projects.tool_list[id] %></label>
                  </div>
                <% }); -%>
                <label class='form-check-label' for='tools_other'><%= lang.projects.tools_other %>: </label>
                <input class='form-control' type='text' id='tools_other' name='tools_other'value='<%= locals.body ? body.tools_other : '' %>' />
              </div>
            </div>
            <div class='mb-3'>
              <label class='form-label' for='materials'><%= lang.projects.materials %></label>
              <div class='form-check'>
                <% Object.keys(lang.projects.material_list).forEach( id => { -%>
                  <div class='form-check'>
                    <input class='form-check-input' name='materials' type='checkbox' value=<%= id %> id=<%= id %> >
                    <label class='form-check-label' for=<%= id %>><%= lang.projects.material_list[id] %></label>
                  </div>
                <% }); -%>
                <label class='form-check-label' for='materials_other'>Other: </label>
                <input class='form-control' type='text' id='materials_other' name='materials_other'value='<%= locals.body ? body.materials_other : '' %>' />
              </div>
            </div>

            <input type='hidden' id='new_project' name='new_project' value='<%= new_project === 'true' ? 'true' : 'false' %>' />
            <input type='submit' class='btn btn-primary mt-3' value='<%= lang.submit %>' />

          </form>
        </div>
      </div>
    </main>
  </body>
  <script type='text/javascript'>

    // team members and tools are received from server as arrays of json strings
    // these are stored as json objects in team[] and tools[] arrays
    // and added as hidden <input> elements to form where value = json string, for being submitted back to the server with the form

    let team = [];
    let tools = [];

    let add_member = document.getElementById('add-member');
    let remove_members;

    // action when clicking on add_member button
    add_member.addEventListener(
      'click',
      (ev) => {
        let member = {
          'name': document.getElementById('users').options[users.selectedIndex].text,
          'hours': 0
        }
        // add member if not already in team
        if (team.find(el => el.name === member.name) == undefined) {
          team.push(member);
          addMember(member);
          updateTeam();
        }
      },
      false
    );

    // add member as hidden <input> element
    function addMember(member) {
      let team_member = document.createElement('input');
      team_member.type = 'hidden';
      team_member.name = 'team';
      team_member.value = JSON.stringify(member);
      document.getElementById('project-form').appendChild(team_member);
      console.log("added member", member);
    }

    // add tool as hidden <input> element
    function addTool(tool) {
      let tool_element = document.createElement('input');
      tool_element.type = 'hidden';
      tool_element.name = 'tools';
      tool_element.id = tool.alias;
      tool_element.value = JSON.stringify(tool);
      document.getElementById('project-form').appendChild(tool_element);
      console.log("added tool", tool);
    }

    // add team members to list group with a delete button for each member
    function updateTeam() {
      let list = '';
      if(team.length > 0 && team[0] != '') {
        team.forEach((member, index) => {
          list += "<div class='list-group-item list-group-item-action py-2 pe-2 my-0'>";
          list += "<div class='d-flex w-100 justify-content-between'>"
          list += member.name;
          list += "<button type='button' class='btn btn-danger py-0 px-2 remove-member'>&#10799</button>";
          list += "</div></div>";
        });
      } else {
        list += "<p><em>" + "<%= lang.errors.empty_team %>" + "</em></p>"
      }
      document.getElementById('team-list').innerHTML = list;
      remove_members = document.getElementsByClassName('remove-member');
      Array.from(remove_members).forEach((el, index) => {
        el.addEventListener('click', () => {
          team.splice(index, 1);
          let members = document.getElementsByName('team');
          members[index].remove();
          updateTeam();
        });
      });
    }


    window.onload = (event) => {

      // populate team[] and tools[] arrays if we have existing data
      <% if ( locals.body ) { -%>
        <% if (body.team) { -%>
          <% body.team.forEach((member) => { -%>
            team.push(<%- member %>); // this also parses the json string into an object
            addMember(<%- member %>);
          <% }); -%>
        <% } -%>
        <% if (body.tools) { -%>
          <% body.tools.forEach((tool) => { -%>
            tools.push(<%- tool %>);
            addTool(<%- tool %>);
          <% }); -%>
        <% } -%>

      <% } -%>

      // if we get data with an empty team, we get an array with an empty element, which we need to delete
      if(team.length > 0 && team[0].name === '') {
        team.pop();
        let members = document.getElementsByName('team');
        members[0].remove();
      }
      updateTeam();

      // set selected tools and materials check boxes as checked
      tools.forEach((tool) => {
        document.getElementById(tool.alias + '_checkbox').checked = true;
      });
      <% if ( locals.body ) {  -%>
        let materials = '<%= body.materials %>'.split(',');
        if(materials.length > 0 && materials[0] != '') {
          materials.forEach( (material) => {
            document.getElementById(material).checked = true;
          });
        }
      <% } -%>
    }


    onsubmit = (event) => {

      // update tool <input> elements to reflect checked tools
      let tool_checkboxes = document.getElementsByName('tool_checkboxes');
      let tool_elements = document.getElementsByName('tools');
      tool_checkboxes.forEach((tool_checkbox) => {
        let id = tool_checkbox.value;
        let el = document.getElementById(id);
        if(tool_checkbox.checked) {
          // add element if it doesn't already exist
          if(el === null) {
            let tool = {
              'alias': id,
              'hours': 0
            }
            addTool(tool);
          }
        } else {
          // remove element if it exists
          if(el != null) {
            el.remove();
          }
        }
      });
    }

  </script>
  </html>