<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = lang.home.project_list %>
    <title><%= title %></title>
    <link href='bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='style.css'>
  </head>
  <%- include('_header', { url: './', text: lang.home_button, wide: true }) %>

    <h1 class='mb-3'><%= title %></h1>

    <% if (typeof msg != 'undefined') { -%>
      <div class='alert alert-warning' role='alert'>
        <%= msg %>
      </div>
    <% } -%>

    <div class='d-grid col-sm-4 py-2 mt-5 mb-4 alert alert-success'>
      <%= lang.projects.active %>
    </div>

    <% if(projects.length > 0) { projects.forEach((project) => { -%>
      <% if(project.active) { -%>
        <div class="card mb-3">
          <div class="row g-0 ">
            <div class="col-md-4">
              <% let url; -%>
              <% if(project.image) { -%>
                <% url = './media/' + project.media_dir + '/' + project.image %>
              <% } else { -%>
                <% url = 'placeholder_image.jpg' %>
              <% } -%>
                <a href='../project?id=<%= project.id %>'><img class="img-fluid rounded-start project-thumbnail" src='<%= url %>'></a>
            </div>
            <div class="col-md-8">
              <div class="row g-0 ">
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="card-title"><span class="alert alert-success py-1"><%= project.date_start %></span></p>
                    <p class="card-text"><small class="text-body-secondary"><%= lang.projects.last_updated %>: <%= project.last_update %></small></p>
                    <h5 class="card-title"><%= project.name %></h5>
                    <p class="card-text"><em>
                    <% project.team.forEach((member, index) => { -%>
                    <% if (index > 0) { -%>,<% } -%>
                    <%= member.name %>
                    <% });-%>
                    </em></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <ul class="list-group list-group-horizontal mb-1">
                      <li class="list-group-item col-8"><%= lang.projects.hours_team %></li>
                      <li class="list-group-item col-4"><%= project.hours_team %></li>
                    </ul>
                    <ul class="list-group list-group-horizontal mb-1">
                      <li class="list-group-item col-8"><%= lang.projects.hours_tools %></li>
                      <li class="list-group-item col-4"><%= project.hours_tools %></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row g-0 px-3 mb-3">
                <div class="col-md-12">
                  <p class="card-text"><%= project.description %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } -%>
    <% }); } else { -%>
      <p><%= lang.errors.no_active_projects %></p>
    <% } -%>


    <div class='d-grid col-sm-4 py-2 mt-5 mb-4 alert alert-secondary'>
      <%= lang.projects.inactive %>
    </div>

    <div class='list-group'>
      <% if(projects.length > 0) { projects.forEach((project) => { -%>
        <% if(!project.active) { -%>
        <div class="card mb-3">
          <div class="row g-0 ">
            <div class="col-md-4">
              <% let url; -%>
              <% if(project.image) { -%>
                <% url = './media/' + project.media_dir + '/' + project.image %>
              <% } else { -%>
                <% url = 'placeholder_image.jpg' %>
              <% } -%>
                <a href='../project?id=<%= project.id %>'><img class="img-fluid rounded-start project-thumbnail" src='<%= url %>'></a>
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <p class="card-title"><span class="alert alert-secondary py-1"><%= project.date_start %> - <%= project.date_end %></span></p>
                <h5 class="card-title"><%= project.name %></h5>
                <p class="card-text"><em>
                <% project.team.forEach((member, index) => { -%>
                <% if (index > 0) { -%>,<% } -%>
                <%= member.name %>
                <% });-%>
                </em></p>
                <p class="card-text"><%= project.description %></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <ul class="list-group list-group-horizontal mb-1">
                  <li class="list-group-item col-8"><%= lang.projects.hours_team %></li>
                  <li class="list-group-item col-4"><%= project.hours_team %></li>
                </ul>
                <ul class="list-group list-group-horizontal mb-1">
                  <li class="list-group-item col-8"><%= lang.projects.hours_tools %></li>
                  <li class="list-group-item col-4"><%= project.hours_tools %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% } -%>
      <% }); } else { -%>
        <p><%= lang.errors.no_inactive_projects %></p>
      <% } -%>
    </div>

  <%- include('_footer') %>
  </body>
</html>