<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = 'Project: ' + project.name %>
    <title><%= title %></title>
    <link href='bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body class='d-flex flex-column h-100'>
    <main class='flex-shrink-0'>
      <div class='container'>
        <div class='d-grid gap-2 row-gap-100 col-6 mx-auto'>
          <a class='btn btn-primary btn-lg m-5 btn-mod' href='./' type='button'>Home</a>
          <h1 class='mb-5'><%= project.name %></h1>
          <p><strong>ID: </strong><%= project.$loki %></p>
          <p><strong>User:</strong></br><%= project.user %></p>
          <p><strong>Description:</strong></br><%= project.description %></p>
          <p><strong>Tools:</strong>
            <ul>
            <% if(typeof project.tools != 'undefined') { project.tools.forEach((tool) => { -%>
              <li><%= tool %></li>
            <% }); } -%>
            <% if(project.tools_other) { -%>
              <li><%= project.tools_other %></li>
            <% } -%>
            </ul>
          </p>
          <p><strong>Materials:</strong>
            <ul>
            <% if(typeof project.materials != 'undefined') { project.materials.forEach((material) => { -%>
              <li><%= material %></li>
            <% }); } -%>
            <% if(project.materials_other) { -%>
              <li><%= project.materials_other %></li>
            <% } -%>
            </ul>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>