<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = lang.project + ': ' + project.name %>
    <title><%= title %></title>
    <link href='bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body class='d-flex flex-column h-100'>
    <main class='flex-shrink-0'>
      <div class='container'>
        <%- include('home_button', { url: './', text: lang.home_button }) %>

        <div class='d-grid gap-2 row-gap-100 col-6 mx-auto'>
          <h1 class='mb-4'><%= project.name %></h1>

          <div class='d-grid col-4 mb-5'>
            <a class='btn btn-primary' href='../projects/edit?id=<%= project.$loki %>' type='button'><%= lang.home.edit_project %></a>
          </div>

          <p><strong>ID: </strong><%= project.$loki %></p>
          <p><strong><%= lang.user %>:</strong></br><%= project.user %></p>
          <p><strong><%= lang.projects.date_start %>:</strong></br><%= project.date_start %></p>
          <p><strong><%= lang.projects.description %>:</strong></br><%= project.description %></p>
          <p><strong><%= lang.projects.tools %>:</strong>
            <ul>
            <% if(typeof project.tools != 'undefined') { project.tools.forEach((tool) => { -%>
              <li><%= tool %></li>
            <% }); } -%>
            <% if(project.tools_other) { -%>
              <li><%= project.tools_other %></li>
            <% } -%>
            </ul>
          </p>
          <p><strong><%= lang.projects.materials %>:</strong>
            <ul>
            <% if(typeof project.materials != 'undefined') { project.materials.forEach((material) => { -%>
              <li><%= material %></li>
            <% }); } -%>
            <% if(project.materials_other) { -%>
              <li><%= project.materials_other %></li>
            <% } -%>
            </ul>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
