<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = lang.project + ': ' + project.name %>
    <title><%= title %></title>
    <link href='bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/style.css' />
    <script type="text/javascript" src="bootstrap.min.js"></script>
  </head>
  <body class='d-flex flex-column h-100'>
    <main class='flex-shrink-0'>
      <div class='container'>
        <%- include('home_button', { url: './', text: lang.home_button }) %>

        <div class='d-grid gap-2 row-gap-100 col-6 mx-auto'>
          <h1 class='mb-4'><%= project.name %></h1>

          <% if(project.active) { -%>
            <div class="d-grid col-2 py-2 alert alert-success">
              <%= lang.projects.active %>
            </div>
          <% } else { -%>
            <div class="d-grid col-2 py-2 alert alert-secondary">
              <%= lang.projects.inactive %>
            </div>
          <% } -%>
          <!-- <p><strong>ID: </strong><%= project.$loki %></p> -->
          <!-- <p><strong><%= lang.user %>:</strong></br><%= project.user %></p> -->

          <div class="mt-3"><strong><%= lang.projects.team %>:</strong>
            <ul class="mb-0">
            <% project.team.forEach((member) => { -%>
              <li><%= member.name %></li>
            <% }); -%>
            </ul>
          </div>

          <div class="mt-3"><strong><%= lang.projects.date_start %>:</strong></br><%= project.date_start %></div>

          <% if(!project.active) { -%>
            <div class="mt-3"><strong><%= lang.projects.date_end %>:</strong></br><%= project.date_end %></div>
          <% } -%>

          <div class="mt-3" style="white-space: pre-wrap;"><strong><%= lang.projects.description %>:</strong></br><%= project.description %></div>

          <div class="mt-3"><strong><%= lang.projects.tools %>:</strong>
            <% if (project.tools.length > 0 || project.tools_other) { -%>
              <ul class="mb-0">
              <% if(typeof project.tools != 'undefined' && typeof project.tools[0] != 'undefined' && project.tools[0] != null) { project.tools.forEach((tool) => { -%>
                <li><%= lang.projects.tool_list[tool.alias] %></li>
              <% }); } -%>
              <% if(project.tools_other) { -%>
                <li><%= project.tools_other %></li>
              <% } -%>
              </ul>
            <% } else { -%>
              <p class="mb-0"><em><%= lang.errors.no_tools %></em></p>
            <% } -%>
          </div>

          <div class="mt-3"><strong><%= lang.projects.materials %>:</strong>
            <% if (project.materials.length > 0 || project.materials_other) { -%>
              <ul class="mb-0">
              <% if(typeof project.materials != 'undefined' && typeof project.materials[0] != 'undefined' && project.materials[0] != null) { project.materials.forEach((material) => { -%>
                <li><%= lang.projects.material_list[material] %></li>
              <% }); } -%>
              <% if(project.materials_other) { -%>
                <li><%= project.materials_other %></li>
              <% } -%>
            </ul>
            <% } else { -%>
              <p class="mb-0"><em><%= lang.errors.no_materials %></em></p>
            <% } -%>
          </div>

          <hr>

          <h3><%= lang.projects.hours %></h3>

          <% project.team.forEach((member) => { -%>
            <ul class="list-group list-group-horizontal mb-1">
              <li class="list-group-item col-8"><%= member.name %></li>
              <li class="list-group-item col-4"><%= member.hours %></li>
            </ul>
          <% }); -%>

          <% project.tools.forEach((tool) => { -%>
            <ul class="list-group list-group-horizontal mb-1">
              <li class="list-group-item col-8"><%= lang.projects.tool_list[tool.alias] %></li>
              <li class="list-group-item col-4"><%= tool.hours %></li>
            </ul>
          <% }); -%>

          <hr>

          <h3><%= lang.projects.feedback %></h3>

          <% if(project.log) { -%>
            <% project.log.slice().reverse().forEach((log) => { -%>
            <h5><%= log.date %></h5>
            <p class="my-0">
              <% for (let i=0; i<5; i++) { -%>
                <% if (i >= log.rating) { -%>
                  &#9734;
                <% } else { -%>
                  &#9733;
                <% } -%>
              <% } -%>
            </p>
            <p><%= log.msg %></p>
            <% }); -%>
          <% } else { -%>
            <em><%= lang.errors.no_log %></em>
          <% } -%>

          <hr>

          <h3><%= lang.projects.media %></h3>

          <% if(project.media) { -%>
          <% } else { -%>
            <em><%= lang.errors.no_media %></em>
          <% } -%>

          <hr>

          <h3><%= lang.projects.evaluation %></h3>

          <% if(project.active) { -%>
            <em><%= lang.errors.unfinished %></em>
          <% } else { -%>
            <% if(project.evaluation) { -%>
              <p><%= project.evaluation %></p>
            <% } else { -%>
              <em><%= lang.errors.no_evaluation %></em>
            <% } -%>
          <% } -%>

          <hr>

          <div class='d-grid col-4 mt-3 mb-5 gap-3'>
            <a class='btn btn-primary' href='../projects/update?id=<%= project.$loki %>' type='button'><%= lang.home.update_project %></a>
            <a class='btn btn-primary' href='../projects/edit?id=<%= project.$loki %>' type='button'><%= lang.home.edit_project %></a>
            <a class='btn btn-primary' href='../projects/close?id=<%= project.$loki %>' type='button'><%= lang.home.close_project %></a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete"><%= lang.home.delete_project %></button>
          </div>

        </div>
      </div>
    </main>

    <div class="modal" id="confirm-delete" tabindex="-1" aria-labelledby="confirm-delete-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="confirm-delete-label"><%= lang.home.delete_project %></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"><%= lang.home.delete_project_confirm %></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= lang.cancel %></button>
            <a class='btn btn-danger' href='../projects/delete?id=<%= project.$loki %>' type='button'><%= lang.home.delete_project %></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>