<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = lang.user + ': ' + user.name %>
    <title><%= title %></title>
    <link href='bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/style.css' />
    <script type="text/javascript" src="bootstrap.min.js"></script>
  </head>
  <body class='d-flex flex-column h-100'>
    <main class='flex-shrink-0'>
      <div class='container'>
        <%- include('home_button', { url: './', text: lang.home_button }) %>

        <div class='d-grid gap-2 row-gap-100 col-6 mx-auto'>
          <h1 class='mb-5'><%= user.name %></h1>

          <!-- <p><strong>ID: </strong><%= user.$loki %></p> -->
          <p><strong><%= lang.users.email %>:</strong></br><%= user.email %></p>
          <p><strong><%= lang.users.phone %>:</strong></br><%= user.phone %></p>
          <p><strong><%= lang.users.org %>:</strong></br><%= user.org %></p>

          <div class='d-grid col-4 mt-3 mb-5 gap-3'>
            <a class='btn btn-primary' href='../users/edit?id=<%= user.$loki %>' type='button'><%= lang.home.edit_user %></a>
            <!-- <a class='btn btn-danger' href='../users/delete?id=<%= user.$loki %>' type='button'><%= lang.home.delete_user %></a> -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete"><%= lang.home.delete_user %></button>
          </div>

        </div>
      </div>
    </main>

    <div class="modal" id="confirm-delete" tabindex="-1" aria-labelledby="confirm-delete-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="confirm-delete-label"><%= lang.home.delete_user %></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"><%= lang.home.delete_user_confirm %></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= lang.cancel %></button>
            <a class='btn btn-danger' href='../users/delete?id=<%= user.$loki %>' type='button'><%= lang.home.delete_user %></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>