<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title ='Create New User' %>
    <title><%= title %></title>
    <link href='../bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body class='d-flex flex-column h-100'>
    <main class='flex-shrink-0'>
      <div class='container'>
        <h1 class='mt-5'><%= title %></h1>

          <form method='post' action=''>
            <label for='name'>Nome e apelido</label> <input type='text' id='name' name='name'value="<%= locals.body ? body.name: '' %>" />
            <label for='email'>e-mail</label> <input type='text' id='email' name='email'value="<%= locals.body ? body.email: '' %>" />
            <label for='phone'>Telemóvel</label> <input type='text' id='phone' name='phone'value="<%= locals.body ? body.phone: '' %>" />
            <label for='org'>Empresa grupo EDP / área</label> <input type='text' id='org' name='org'value="<%= locals.body ? body.org: '' %>" />
            <input type='submit' value='Sumbit' />
          </form>
          <% if (typeof errors != 'undefined') { -%>
            <ul>
            <% errors.forEach((error) => { -%>
              <li><%= error.msg %></li>
            <% }); -%>
            </ul>
          <% } -%>

      </div>
    </main>
  </body>
</html>