<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% let title = lang.home.user_list %>
    <title><%= title %></title>
    <link href='bootstrap.min.css' rel='stylesheet'>
    <link href='style.css' rel='stylesheet'>
  </head>
  <%- include('_header', { url: './', text: lang.home_button }) %>

    <h1 class='mb-5'><%= title %></h1>

    <% if (typeof msg != 'undefined') { -%>
      <div class='alert alert-warning' role='alert'>
        <%= msg %>
      </div>
    <% } -%>

    <div class='list-group'>
      <% if(users.length > 0) { users.forEach((user) => { -%>
        <a class='list-group-item list-group-item-action py-3' href='./user?id=<%= user.id %>'><%= user.name %></a>
      <% }); } else { -%>
        <p><%= lang.errors.no_users %></p>
      <% } -%>
    </div>

  </body>
</html>
